body {
    background-color: #333;
    color: #000;
    line-height: normal;
    /* font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif; */
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.5em;
}

a img {
    border: 0px solid transparent;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: #cdcdcd;
    text-decoration: underline;
}

h1 {
    /* font-family: Arial, Helvetica Neue, Verdana, Geneva, sans-serif; */
    width: 100%;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    font-size: 1.65em;
}

canvas {
    display: block;
    outline: 0px;
    margin-bottom: 1.5em;
    transform: scale(1);
}

#app {
    padding: 25px 25px 15px 25px;
}

#content {
    /* margin: 50px auto 0px auto; */
    padding: 25px 25px 15px 25px;
    width: auto;
    min-width: 300px;
    overflow: auto;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #3d3d3d;
}

.keys {
    font-family: monospace;
}

.radio-select {
    height: auto !important;
}

/** Hides closed items */
/* from https://github.com/dataarts/dat.gui/blob/master/src/dat/gui/_structure.scss */
.closed .radio-select{
    height: 0 !important;
}

